<%= form_for(@post) do |f| %>

	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do |err| %>
			<li><%= err %></li>
		<% end %>
	<% end %>

	<p><%= f.label :title %></p>
	<p><%= f.text_field :title %></p>
	<p><%= f.label :body %></p>
	<p><%= f.text_area :body %></p>

	<p><%= f.submit "Submit", class:"btn btn-default" %></p>

<% end %>